@{
    ViewData["Title"] = "Pagina Principal TELOMANDO";
}

@* <div class="text-center">
    <h1 class="display-4">Telomando - UFG</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div align="center">
        <img src="imgs/logoUfg.png" width="215" height="260" />
    </div>

</div>
 *@

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Clientes" asp-action="ListaClientes" class="card-link">
                <div class="card text-white bg-primary mb-3 position-relative">
                    <div class="icon-circle bg-primary text-white">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Clientes</h5>
                        @* <p class="card-text">1,200</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a asp-controller="Direcciones" asp-action="ListaDirecciones" class="card-link">
                <div class="card text-white bg-warning mb-3 position-relative">
                    <div class="icon-circle bg-warning text-white">
                        <i class="fas fa-address-book"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Direcciones</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a asp-controller="Paises" asp-action="ListaPaises" class="card-link">
                <div class="card text-white bg-success mb-3 position-relative">
                    <div class="icon-circle bg-success text-white">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Paises</h5>
                        @* <p class="card-text">$34,000</p> *@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Departamentos" asp-action="ListaDepartamentos" class="card-link">
                <div class="card text-white bg-info mb-3 position-relative">
                    <div class="icon-circle bg-info text-white">
                        <i class="fas fa-map"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Departamentos</h5>
                        @* <p class="card-text">150</p> *@
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a asp-controller="Municipios" asp-action="ListaMunicipios" class="card-link">
                <div class="card text-white bg-danger mb-3 position-relative">
                    <div class="icon-circle bg-danger text-white">
                        <i class="fas fa-map-pin"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Municipios</h5>
                        @* <p class="card-text">23</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="TipoUsuario" asp-action="ListaTiposUsuarios" class="card-link">
                <div class="card text-white bg-info mb-3 position-relative">
                    <div class="icon-circle bg-info text-white">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Tipos de usuario</h5>
                        @* <p class="card-text">Gestión de tipos de usuario</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Monedas" asp-action="Index" class="card-link">
                <div class="card text-white bg-secondary mb-3 position-relative">
                    <div class="icon-circle bg-secondary text-white">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Monedas</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Tarifas" asp-action="ListaTarifas" class="card-link">
                <div class="card text-white bg-primary mb-3 position-relative">
                    <div class="icon-circle bg-primary text-white">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Tarifas</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Bodegas" asp-action="ListaBodegas" class="card-link">
                <div class="card text-white bg-success mb-3 position-relative">
                    <div class="icon-circle bg-success text-white">
                        <i class="fas fa-warehouse"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Bodegas</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="BodegasProductos" asp-action="ListaBodegasProductos" class="card-link">
                <div class="card text-white bg-secondary mb-3 position-relative">
                    <div class="icon-circle bg-secondary text-white">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Bodegas-Productos</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Categorias" asp-action="ListaCategorias" class="card-link">
                <div class="card text-white bg-warning mb-3 position-relative">
                    <div class="icon-circle bg-warning text-white">
                        <i class="fas fa-network-wired"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Categorias</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="SubCategorias" asp-action="ListaSubCategorias" class="card-link">
                <div class="card text-white bg-info mb-3 position-relative">
                    <div class="icon-circle bg-info text-white">
                        <i class="fas fa-network-wired"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Subcategorias</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Productos" asp-action="ListaProductos" class="card-link">
                <div class="card text-white bg-danger mb-3 position-relative">
                    <div class="icon-circle bg-danger text-white">
                        <i class="fas fa-network-wired"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Productos</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Ciudades" asp-action="ListaCiudades" class="card-link">
                <div class="card text-white bg-primary mb-3 position-relative">
                    <div class="icon-circle bg-primary text-white">
                        <i class="fas fa-city"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Ciudades</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Marcas" asp-action="ListaMarcas" class="card-link">
                <div class="card text-white bg-secondary mb-3 position-relative">
                    <div class="icon-circle bg-secondary text-white">
                        <i class="fas fa-copyright"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Marcas</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="Sucursales" asp-action="ListaSucursales" class="card-link">
                <div class="card text-white bg-success mb-3 position-relative">
                    <div class="icon-circle bg-success text-white">
                        <i class="fas fa-store"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Sucursales</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="TipoBodegas" asp-action="ListaTiposBodegas" class="card-link">
                <div class="card text-white bg-success mb-3 position-relative">
                    <div class="icon-circle bg-success text-white">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Tipos de Bodega</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="TipoPagos" asp-action="ListaTiposPagos" class="card-link">
                <div class="card text-white bg-warning mb-3 position-relative">
                    <div class="icon-circle bg-warning text-white">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Tipos de pago</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3 mt-4">
            <a asp-controller="TiposTransportes" asp-action="ListaTiposTransportes" class="card-link">
                <div class="card text-white bg-info mb-3 position-relative">
                    <div class="icon-circle bg-info text-white">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Tipos de transporte</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-3 mt-4">
            <a asp-controller="Usuarios" asp-action="Index" class="card-link">
                <div class="card text-white bg-danger mb-3 position-relative">
                    <div class="icon-circle bg-danger text-white">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Usuarios</h5>
                        @* <p class="card-text">Gestión de monedas</p> *@
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>