@{
    ViewData["Title"] = "Pagina Principal TELOMANDO";
}

<div class="text-center">
    <h1 class="display-4">Telomando - UFG</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <div align="center">
        <img src="imgs/logoUfg.png" width="215" height="210" />
    </div>

</div>
