@model Telomando.Models.Entrega
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">Realmente Desea Eliminar el Registro?</h3>

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Eliminar" asp-controller="Entregas" method="post">
            <input type="hidden" asp-for="Identrega" />

            <div class="mb-3">
                <label class="form-label" asp-for="Codigo">Codigo</label>
                <input class="form-control form-control-sm" asp-for="Codigo" type="text" disabled />
            </div>


            <div class="mb-3">
                <label class="form-label" asp-for="Idcliente">Cliente</label>
                <input class="form-control form-control-sm" asp-for="Idcliente" type="text" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Iddireccion">Direccion</label>
                <input class="form-control form-control-sm" asp-for="Iddireccion" type="text" disabled />
            </div>


            <div class="mb-2">
                <label class="form-label" asp-for="InformacionAdicional">Informacion Adicional</label>
                <input class="form-control form-control-sm" asp-for="InformacionAdicional" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Idtipopago">Tipo de Pago</label>
                <input class="form-control form-control-sm" asp-for="Idtipopago" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Idtransporte">Transporte</label>
                <input class="form-control form-control-sm" asp-for="Idtransporte" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Idtarifa">Tarifa</label>
                <input class="form-control form-control-sm" asp-for="Idtarifa" type="text" disabled />
            </div

            <div class="mb-2">
                <label class="form-label" asp-for="Idbodega">Bodega</label>
                <input class="form-control form-control-sm" asp-for="Idbodega" type="text" disabled />
            </div>


            <div class="mb-2">
                <label class="form-label" asp-for="FechaRegistro">Fecha de Creacion</label>
                <input class="form-control form-control-sm" asp-for="FechaRegistro" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-check-label" asp-for="Activo">Activo</label>
                <input class="form-check-input" asp-for="Activo" type="checkbox" />
            </div>

            <div class="mb-2">
                <label class="form-check-label" asp-for="Eliminado">Eliminado</label>
                <input class="form-check-input" asp-for="Eliminado" type="checkbox" />
            </div>



            <div class="mb-2">
                <button class="btn btn-danger btn-sm w-25" type="submit">Eliminar</button>
                <a class="btn btn-dark btn-sm" asp-action="ListaEntregas" asp-controller="Entregas">Volver</a>

            </div>

        </form>
    </div>
</div>

