@model Telomando.Models.TipoTransporte
@{
    ViewData["Title"] = "Tipo de Transporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Idtipotransporte == 0)
{
    <h1>Crear Tipo de Transporte</h1>
}
else
{
    <h1>Editar Tipo de Transporte</h1>
}

<div class="row">
    <div class="col-sm-4">
        <form asp-action="TipoTransporte_Detalle" asp-controller="TiposTransportes" method="post">
            <input type="hidden" asp-for="Idtipotransporte" />

            <div class="mb-2">
                <label class="form-label" asp-for="Nombre">Tipo de transporte</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" />
            </div>


            <div class="mb-2">
                <label class="form-label" asp-for="FechaRegistro">Fecha Creacion</label>
                <input class="form-control form-control-sm" asp-for="FechaRegistro" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Activo">Activo</label>
                <input class="form-control form-control-sm" asp-for="Activo" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Eliminado">Eliminado</label>
                <input class="form-control form-control-sm" asp-for="Eliminado" type="text" />
            </div>


            <div class="mb-2">

                @if (Model.Idtipotransporte == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>
                }

                <a class="btn btn-dark btn-sm" asp-action="ListaTiposTransportes" asp-controller="TiposTransportes">Volver</a>

            </div>

        </form>
    </div>
</div>

